<!-- user info -->
<div class="well">
	<div class="media">
		<a class="pull-left" href="#">
			<br>
			<%= image_tag @user.avatar.url(:medium) %>
		</a>
		<div class="media-body">

			<div class="col-xs-10 col-md-5">
				<h4 class="alert alert-success"><%= @user.email %></h4>
				<!-- 부들부들 화난다 개못생김; -->
				<p class="alert alert-success"><strong>current_sign_in up :</strong><%= @user.current_sign_in_ip%></p>

				<p class="alert alert-success"><strong>created_at :</strong><%= @user.created_at %></p>
			</div>

			
		</div>
	</div>
</div>

<!-- emblem -->
<div class="row">
	<div class="well">
		여기다가 칭호 만들어 넣을 생각인데
	</div>
</div>

<!-- notification -->
<div class="row">
	<div class="well">
		여기다가 노티피케이션 만들어 넣을 생각인데
	</div>
</div>